* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #181818;
}

button {
  outline: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}

.bx {
  color: #FFFFFF;
  padding: 6px;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
}

.bx {
  font-size: 2.1rem;
}

.tags-container {
  position: fixed;
  top: 5.6rem;
  left: 15.7%;
  z-index: 900;
  width: 84.3%;
  height: 5.6rem;
  overflow: hidden;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #373737;
  background-color: #202020;
}

.tags-container .next-btn,
.tags-container .prev-btn {
  position: absolute;
  z-index: 500;
  width: 4.5%;
  height: calc(100% - 5px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #202020;
}

.tags-container .next-btn .bx,
.tags-container .prev-btn .bx {
  font-size: 1.3rem;
}

.tags-container .prev-btn {
  -webkit-box-shadow: 12px 0 15px 5px #202020;
          box-shadow: 12px 0 15px 5px #202020;
}

.tags-container .next-btn {
  right: 0;
  -webkit-box-shadow: -12px 0 15px 5px #202020;
          box-shadow: -12px 0 15px 5px #202020;
}

.tags {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  padding: 0 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  will-change: transition;
}

.tag {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tag-link {
  display: block;
  margin: auto 0.6rem;
  line-height: 3rem;
  padding: 0 1.2rem;
  border-radius: 16px;
  font-size: 1.4rem;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #373737;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}

.tag-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.selected-tag {
  background-color: #FFFFFF;
  color: black;
}

.selected-tag:hover {
  background-color: #909090;
}

.cards {
  position: relative;
  top: 5.6rem;
  left: 15.7%;
  width: 84.3%;
  justify-items: center;
  padding: calc(2.4rem + 5.6rem) 2.4rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (25.97rem)[2];
      grid-template-rows: repeat(2, 25.97rem);
  grid-row-gap: 4rem;
}

.card {
  max-width: 29.6rem;
  max-height: 25.97rem;
}

.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-thumbnail {
  position: relative;
}

.card-times {
  position: absolute;
  right: 4px;
  bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 0.35rem;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-avatar {
  width: 3.6rem;
  margin: 1rem 1.2rem 0 0;
}

.card-description {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 2.4rem;
}

.card-description * {
  font-size: 1.4rem;
  color: #aaa;
}

.card-title {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.2rem 0 0.2rem 0;
  color: #FFFFFF;
}

.card-options {
  position: absolute;
  right: 0.5px;
  top: 10px;
  opacity: 0;
}

.card-options .bx {
  font-size: 2.3rem;
  padding: 0;
}

.card-options .bx:hover {
  color: #FFFFFF;
}

.card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-user__name:hover {
  color: #FFFFFF;
}

.card-user .bx {
  padding: 0.4rem;
}

.card :hover .card-options {
  opacity: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 5.6rem;
  padding: 0 1.9rem;
  background-color: #202020;
}

.header-left, .header-center, .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-center {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 728px;
          flex: 0 1 728px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-menu-btn {
  margin-right: 1.8rem;
}

.header-menu-btn .bx {
  font-size: 2.5rem;
}

.header-logo {
  width: 8rem;
  height: 2.4rem;
  fill: #FFFFFF;
  cursor: pointer;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 650px;
          flex: 0 1 650px;
  height: 4rem;
  max-width: 80rem;
  border-radius: 2px;
  overflow: hidden;
}

.header-search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: calc(100% - 8px);
  margin-left: 0.5rem;
  padding: 1.2rem;
  border: 1px solid #373737;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: 0;
  color: #E2E2E2;
  background-color: #121212;
  font-size: 1.6rem;
  font-weight: 500;
}

.header-search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6.5rem;
  height: calc(100% - 8px);
  margin-right: 1rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #373737;
}

.header-search-btn:hover .bx {
  opacity: 0.5;
}

.header-search .bx {
  font-size: 1.7rem;
  opacity: 0.3;
  color: #FFFFFF;
}

.header-user-icon {
  width: 3.2rem;
  height: auto;
  border-radius: 50%;
}

.header-right button:not(:last-child) {
  margin-right: 1.8rem;
}

.header-right button:last-child {
  margin-right: 1rem;
}

.sidebar {
  position: fixed;
  top: 5.6rem;
  bottom: 0;
  z-index: 999;
  width: 15.7%;
}

.sidebar-container {
  height: 100%;
  padding: 1rem 0;
  overflow-y: auto;
  background-color: #202020;
}

.sidebar .copyright {
  font-size: 1.2rem;
  padding: 1.6rem 2.4rem;
  color: #717171;
}

.sidebar-options .selected {
  background-color: #383838;
}

.sidebar-options .selected .bx {
  color: #FFFFFF;
}

.sidebar-options-first {
  padding-bottom: 1rem;
  border-bottom: 1px solid #373737;
}

.sidebar-options-second {
  padding: 1rem 0;
}

.sidebar-options__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0 2rem;
}

.sidebar-options__link:hover {
  background-color: #383838;
}

.sidebar-options__link .bx {
  color: #909090;
}

.sidebar-options__icon {
  margin-right: 2rem;
}

.sidebar-options__name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

.sidebar-subs-list {
  padding: 1rem 0;
  border-top: 1px solid #373737;
}

.sidebar-subs-title, .sidebar-more-list-title {
  padding: 1rem 1.2rem 1rem 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #A0A0A0;
}

.sidebar-sub-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0 2rem;
}

.sidebar-sub-link:hover {
  background-color: #383838;
}

.sidebar-sub-icon {
  width: 2.4rem;
  margin: 0 2.4rem 0 0.4rem;
  border-radius: 50%;
}

.sidebar-sub-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

.sidebar-more-list {
  padding: 1rem 0;
  border-top: 1px solid #373737;
}

.sidebar-more-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  padding: 0 2rem;
}

.sidebar-more-link:hover {
  background-color: #383838;
}

.sidebar-more .bx {
  font-size: 2rem;
  color: #909090;
}

.sidebar-more__icon {
  margin-right: 2rem;
}

.sidebar-more__name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

.sidebar-functions {
  padding: 1rem 0;
  border-top: 1px solid #373737;
}

.sidebar-function-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.sidebar-function-link .bx {
  color: #909090;
}

.sidebar-function-link:hover {
  background-color: #383838;
}

.sidebar-function__icon {
  margin-right: 2rem;
}

.sidebar-function__name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #FFFFFF;
}

::-webkit-scrollbar {
  background: transparent;
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: #909090;
  height: 420px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
}
/*# sourceMappingURL=main.css.map */