:root {
  --primary-bgc: #ffffff;
  --primary-text-color: #282828;
  --primary-border-color: #0000001a;
  --header-icon-color: #606060;
  --clicking-affect-bgc: #e5e5e5;
  --input-placeholder-color: #888888;
  --body-bgc: #f9f9f9;
  --input-bgc: transparent;
  --search-btn-bgc: #f8f8f8;
  --selected-name-color: #CC0000;
  --selected-icon-color: #ff0000;
  --unselected-icon-color: #606060;
  --sidebar-title-color: #606060;
  --sidebar-selected-bgc: #e5e5e5;
  --siderbar-hover-bgc: #f2f2f2;
  --tags-btn-color:#606060;
  --tags-left-btn-boxshadow-color: 10px 0 15px 8px #ffffff;
  --tags-right-btn-boxshadow-color: -10px 0 15px 8px #ffffff;
  --tag-bgc: #F2F2F2;
  --tag-hover-bgc: #E5E5E5;
  --selected-tag-bgc: #606060;
  --selected-text-color: #ffffff;
  --card-dsc-color: #606060;
  --card-user-name-hover-color: #030303;
  --card-options-btn-color: #909090;
  --card-options-btn-hover-color: #606060;
  --siderbar-scrollbar-color: #CCCCCC;
}

[data-theme=dark] {
  --primary-bgc: #202020;
  --primary-text-color: #ffffff;
  --primary-border-color: #373737;
  --header-icon-color: #ffffff;
  --clicking-affect-bgc: #373737;
  --input-placeholder-color: #757575;
  --body-bgc: #181818;
  --input-bgc: #121212;
  --search-btn-bgc: #373737;
  --selected-name-color: #ffffff;
  --selected-icon-color: #ffffff;
  --unselected-icon-color: #909090;
  --sidebar-title-color: #A0A0A0;
  --sidebar-selected-bgc: #383838;
  --siderbar-hover-bgc: #383838;
  --tags-btn-color:#ffffff;
  --tags-left-btn-boxshadow-color: 10px 0 15px 8px #202020;
  --tags-right-btn-boxshadow-color: -10px 0 15px 8px #202020;
  --tag-bgc: #373737;
  --tag-hover-bgc: #ffffff33;
  --selected-tag-bgc: #f5f5f5;
  --selected-text-color: #202020;
  --card-dsc-color: #aaa;
  --card-user-name-hover-color: #ffffff;
  --card-options-btn-color: #aaa;
  --card-options-btn-hover-color: #ffffff;
  --siderbar-scrollbar-color: #909090;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
  background-color: #181818;
}

.bx {
  padding: 6px;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
}

* {
  font-family: "Roboto", Arial, sans-serif;
}

.bx {
  font-size: 2.1rem;
}

@keyframes fadeZoom {
  from {
    opacity: 0.7;
  }
  to {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0;
  }
}
.tags-container {
  position: fixed;
  top: 5.6rem;
  left: 15.7%;
  z-index: 900;
  width: 84.3%;
  height: 5.6rem;
  overflow: hidden;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  background-color: var(--primary-bgc);
}
.tags-container .next-btn,
.tags-container .prev-btn {
  position: absolute;
  z-index: 500;
  width: 4.5%;
  height: calc(100% - 5px);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--primary-bgc);
}
.tags-container .next-btn .bx,
.tags-container .prev-btn .bx {
  font-size: 1.3rem;
  color: var(--tags-btn-color);
}
.tags-container .prev-btn {
  left: 0;
  box-shadow: var(--tags-left-btn-boxshadow-color);
}
.tags-container .next-btn {
  right: 0;
  box-shadow: var(--tags-right-btn-boxshadow-color);
}

.tags-container-small {
  left: 7.2rem;
  width: calc(100% - 7.2rem);
}

.tags {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  height: inherit;
  padding: 0 1.5rem;
  align-items: center;
  list-style: none;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
  will-change: transition;
}

.tag {
  flex-shrink: 0;
  user-select: none;
}

.tag-link {
  display: block;
  margin: auto 0.6rem;
  line-height: 3rem;
  padding: 0 1.2rem;
  border-radius: 16px;
  font-size: 1.4rem;
  border: 1px solid var(--primary-border-color);
  color: var(--primary-text-color);
  background-color: var(--tag-bgc);
  transition: 0.15s ease;
}
.tag-link:hover {
  background-color: var(--tag-hover-bgc);
}

.selected-tag {
  background-color: var(--selected-tag-bgc);
  color: var(--selected-text-color);
}
.selected-tag:hover {
  background-color: #909090;
}

.cards {
  position: relative;
  top: 5.6rem;
  left: 15.7%;
  width: 84.3%;
  justify-items: center;
  padding: calc(2.4rem + 5.6rem) 2.4rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  background-color: var(--body-bgc);
}

.cards-small {
  left: 7.2rem;
  width: calc(100% - 7.2rem);
  column-gap: 1.6rem;
}
.cards-small .card {
  max-width: 100%;
}
.cards-small .card-title {
  font-size: 1.7rem;
}

.card {
  max-width: 29.6rem;
}
.card-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-thumbnail {
  position: relative;
  width: 29.6rem;
  height: 16.9rem;
}
.card-thumbnail img {
  height: 100%;
  object-fit: cover;
}
.card-times {
  position: absolute;
  right: 4px;
  bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 0.35rem;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
}
.card-content {
  display: flex;
}
.card-avatar {
  width: 3.6rem;
  margin: 1rem 1.2rem 0 0;
}
.card-description {
  position: relative;
  flex: 1;
  padding-right: 2.4rem;
}
.card-description * {
  font-size: 1.4rem;
  color: var(--card-dsc-color);
}
.card-description .bx {
  color: var(--card-options-btn-color);
}
.card-title {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 3.55rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1.2rem 0 0.4rem 0;
  color: var(--primary-text-color);
}
.card-options {
  position: absolute;
  right: 0.5px;
  top: 10px;
  opacity: 0;
}
.card-options .bx {
  font-size: 2.3rem;
  padding: 0;
}
.card-options .bx:hover {
  color: var(--card-options-btn-hover-color);
}
.card-user {
  display: flex;
  align-items: center;
  margin-bottom: 0.05rem;
}
.card-user__name:hover {
  color: var(--card-user-name-hover-color);
}
.card-user .bx {
  padding: 0.4rem;
}
.card-views {
  margin-right: 0.5rem;
}
.card :hover .card-options {
  opacity: 1;
}

.toggle {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  opacity: 0;
  transform: translateX(calc(100% + 10px));
  transition: transform 0.3s;
}
.toggle-wrapper {
  position: relative;
  display: block;
  height: 3.4rem;
  width: 6rem;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  border-radius: 34px;
  overflow: hidden;
  background-color: #CCCCCC;
  transition: 0.4s;
}
.toggle__bar:before {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 4px;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  background-color: white;
  transition: 0.4s;
}
.toggle__bar:after {
  position: absolute;
  content: "";
  bottom: 4px;
  left: 4px;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  transform: translateX(50px);
  background-color: #CCCCCC;
  transition: 0.4s;
}
.toggle__input:checked + .toggle__bar {
  background-color: #202020;
}
.toggle__input:checked + .toggle__bar:before {
  transform: translateX(-50px);
}
.toggle__input:checked + .toggle__bar:after {
  transform: translateX(0px);
}

button {
  outline: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}

.btn-active {
  position: relative;
  width: 3.7rem;
  height: 3.7rem;
}
.btn-active .btn-bgc {
  z-index: -2;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  background-color: var(--primary-bgc);
}

.btn-up:before,
.btn-down:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 50%;
}

.btn-up:before {
  z-index: -3;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: var(--clicking-affect-bgc);
  animation: fadeZoom 0.4s ease-out;
}

.btn-down:before {
  z-index: -1;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.btn-down:active:before {
  background-color: var(--clicking-affect-bgc);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 5.6rem;
  padding: 0 1.75rem;
  background-color: var(--primary-bgc);
}
.header-left, .header-center, .header-right {
  display: flex;
  align-items: center;
}
.header-center {
  flex: 0 1 728px;
  justify-content: flex-end;
}
.header .bx {
  color: var(--header-icon-color);
}

.header-menu-btn {
  margin-right: 1.8rem;
}
.header-menu-btn .bx {
  font-size: 2.5rem;
}
.header-logo {
  width: 8rem;
  height: 2.4rem;
  fill: #FFFFFF;
  cursor: pointer;
}
.header-logo > svg {
  fill: var(--primary-text-color);
}
.header-search {
  display: flex;
  align-items: center;
  flex: 0 1 650px;
  height: 4rem;
  max-width: 80rem;
  border-radius: 2px;
  overflow: hidden;
}
.header-search-input {
  flex: 1;
  height: calc(100% - 8px);
  margin-left: 0.5rem;
  padding: 1.2rem;
  border: 1px solid var(--primary-border-color);
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: 0;
  color: var(--primary-text-color);
  background-color: var(--input-bgc);
  font-size: 1.6rem;
  font-weight: 400;
}
.header-search-input::placeholder {
  color: var(--input-placeholder-color);
  font-weight: 400;
}
.header-search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.5rem;
  height: calc(100% - 8px);
  margin-right: 1rem;
  border: 1px solid var(--primary-border-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: var(--search-btn-bgc);
}
.header-search-btn:hover .bx {
  opacity: 0.5;
}
.header-search .bx {
  font-size: 1.7rem;
  opacity: 0.8;
}
.header-user-icon {
  width: 3.2rem;
  height: auto;
  border-radius: 50%;
}
.header-right button:not(:last-child) {
  margin-right: 1.8rem;
}
.header-right button:last-child {
  margin-right: 1rem;
}

.sidebar {
  position: fixed;
  top: 5.6rem;
  bottom: 0;
  z-index: 999;
}
.sidebar-container {
  height: 100%;
  padding: 0.9rem 0;
  overflow-y: auto;
  background-color: var(--primary-bgc);
}
.sidebar .copyright {
  font-size: 1.2rem;
  padding: 1.6rem 2.4rem;
  border-top: 1px solid var(--primary-border-color);
  color: #717171;
}

.sidebar-large {
  width: 15.7%;
}

.sidebar-options .selected {
  background-color: var(--sidebar-selected-bgc);
}
.sidebar-options .selected .bx {
  color: var(--selected-icon-color);
}
.selected .sidebar-options__name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-text-color);
}
.sidebar-options-first {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
}
.sidebar-options-second {
  padding: 1rem 0;
}
.sidebar-options__item:hover {
  background-color: var(--siderbar-hover-bgc);
}
.sidebar-options__link {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}
.sidebar-options__link .bx {
  font-size: 2.3rem;
  padding: 0rem 0.45rem;
  color: var(--unselected-icon-color);
}
.sidebar-options__icon {
  margin-right: 2rem;
}
.sidebar-options__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-text-color);
}

.sidebar-subs-list {
  padding: 1rem 0;
  border-top: 1px solid var(--primary-border-color);
}

.sidebar-subs-title, .sidebar-more-list-title {
  padding: 1rem 1.2rem 1rem 2.4rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--sidebar-title-color);
}

.sidebar-sub-link {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}
.sidebar-sub-link:hover {
  background-color: var(--siderbar-hover-bgc);
}
.sidebar-sub-icon {
  width: 2.4rem;
  margin: 0 2.4rem 0 0.4rem;
  border-radius: 50%;
}
.sidebar-sub-name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-text-color);
}

.sidebar-more-list {
  padding: 1rem 0;
  border-top: 1px solid var(--primary-border-color);
}
.sidebar-more-link {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 2rem;
}
.sidebar-more-link:hover {
  background-color: var(--siderbar-hover-bgc);
}
.sidebar-more .bx {
  font-size: 2rem;
  color: var(--unselected-icon-color);
}
.sidebar-more__icon {
  margin-right: 2rem;
}
.sidebar-more__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-text-color);
}

.sidebar-functions {
  padding: 1rem 0;
  border-top: 1px solid var(--primary-border-color);
}

.sidebar-function-link {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.sidebar-function-link .bx {
  color: var(--unselected-icon-color);
}
.sidebar-function-link:hover {
  background-color: var(--siderbar-hover-bgc);
}
.sidebar-function__icon {
  margin-right: 2rem;
}
.sidebar-function__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-text-color);
}

.sidebar-small {
  width: 7.2rem;
}
.sidebar-small .sidebar-options {
  height: 100%;
  background-color: var(--primary-bgc);
}
.sidebar-small .selected {
  background-color: transparent;
}
.sidebar-small .selected .sidebar-options__name {
  color: var(--selected-name-color);
}
.sidebar-small .sidebar-options__item {
  height: 7.5rem;
}
.sidebar-small .sidebar-options__item:hover {
  background-color: var(--siderbar-hover-bgc);
}
.sidebar-small .sidebar-options__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.sidebar-small .sidebar-options__icon {
  margin: 0 0 0.4rem;
}
.sidebar-small .sidebar-options__name {
  font-size: 1.05rem;
  font-weight: 400;
  margin-top: 0.05rem;
  color: var(--primary-text-color);
}
.sidebar-small .bx {
  padding: 0;
  font-size: 2.3rem;
}

.closed {
  display: none;
}

::-webkit-scrollbar {
  width: 1.5rem;
  background-color: var(--body-bgc);
}

::-webkit-scrollbar-thumb {
  height: 10px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #909090;
}

.sidebar ::-webkit-scrollbar {
  background-color: var(--primary-bgc);
}
.sidebar ::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.sidebar:hover ::-webkit-scrollbar-thumb {
  background-color: var(--siderbar-scrollbar-color);
}

/*# sourceMappingURL=main.css.map */
