@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin align-justify-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin align-center-with-justifies($justify-content-value: unset) {
    display: flex;
    align-items: center;
    justify-content: $justify-content-value;
}

@mixin sidebar-name-color {
    font-size: 1.4rem;
    font-weight: 500;

    color: $text-color;
}
