$grey-color: #202020;
$text-color: #FFFFFF;
$input-text-color: #E2E2E2;
$input-color: #121212;
$border-color: #373737;
$search-btn-bgc: #373737;
$selected-color: #383838;
$bgc-color: #181818;
$unselected-color: #909090;
$title-color: #A0A0A0;
$card-text-color: #aaa;