.header {
    @include align-center-with-justifies(space-between);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    
    height: $header-height;
    padding: 0 1.75rem;

    background-color: var(--primary-bgc);

    &-left,
    &-center,
    &-right {
        @include align-center;
    }

    &-center {
        flex: 0 1 728px;
        justify-content: flex-end;
    }

    .bx {
        color: var(--header-icon-color);
    }
}

.header {
    &-menu-btn {
        margin-right: 1.8rem;

        .bx {
            font-size: 2.5rem;
        }
    }

    &-logo {
        width: 8rem;
        height: 2.4rem;
        
        fill: $text-color;
        cursor: pointer;
    }

    &-logo > svg {
        fill: var(--primary-text-color);
    }

    &-search {
        @include align-center;

        flex: 0 1 650px;
        height: 4rem;
        max-width: 80rem;
        border-radius: 2px;
        overflow: hidden;

        &-input {
            flex: 1;
            height: calc(100% - 8px);
            margin-left: 0.5rem;
            padding: 1.2rem;
            border: 1px solid var(--primary-border-color);
            border-right: none;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            outline: 0;

            color: var(--primary-text-color);
            background-color: var(--input-bgc);

            font-size: 1.6rem;
            font-weight: 400;
        }

        &-input::placeholder {
            color: var(--input-placeholder-color);
            font-weight: 400;
        }

        &-btn {
            @include align-center-with-justifies(center);
            width: 6.5rem;
            height: calc(100% - 8px);
            margin-right: 1rem;
            border: 1px solid var(--primary-border-color);
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;

            background-color: var(--search-btn-bgc);

            &:hover .bx {
                opacity: 0.5;
            }
        }

        .bx {
            font-size: 1.7rem;
            opacity: 0.8;

            // color: $text-color;
        }
    }

    &-user-icon {
        width: 3.2rem;
        height: auto;
        border-radius: 50%;
    }

    &-right {
        button:not(:last-child) {
            margin-right: 1.8rem;
        }

        button:last-child {
            margin-right: 1rem;
        }
    }
}