$title-font-size: 1.5rem;

.cards {
    position: relative;
    top: $header-height;
    left: $sidebar-width;

    width: 100% - $sidebar-width;
    justify-items: center;
    padding: calc(2.4rem + 5.6rem) 2.4rem 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;

    background-color: var(--body-bgc);
}

.cards-small {
    left: $small-sidebar-width;

    width: calc(100% - #{$small-sidebar-width});
    column-gap: 1.6rem;

    .card {
        max-width: 100%;
    }

    .card-title {
        font-size: $title-font-size + 0.2;
    }
}

.card {
    max-width: 29.6rem;

    &-link {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-thumbnail {
        position: relative;

        width: 29.6rem;
        height: 16.9rem;
    }

    &-thumbnail img {
        height: 100%;
        object-fit: cover;
    }

    &-times {
        position: absolute;
        right: 4px;
        bottom: 5px;

        font-size: 1rem;
        font-weight: 500;
        padding: 0.3rem 0.35rem;
        letter-spacing: 1px;

        color: $text-color;
        background-color: rgba(0, 0, 0, 0.8);
    }

    &-content {
        display: flex;
    }

    &-avatar {
        width: 3.6rem;
        margin: 1rem 1.2rem 0 0;
    }

    &-description {
        position: relative;

        flex: 1;
        padding-right: 2.4rem;

        * {
            font-size: 1.4rem;

            color: var(--card-dsc-color);
        }

        .bx {
            color: var(--card-options-btn-color);
        }
    }

    &-title {
        @include overflow-lines(2);

        font-size: $title-font-size;
        font-weight: 500;
        margin: 1.2rem 0 0.2rem 0;

        color: var(--primary-text-color);
    }

    &-options {
        position: absolute;
        right: 0.5px;
        top: 10px;

        opacity: 0;

        .bx {
            font-size: 2.3rem;
            padding: 0;

            &:hover {
                color: var(--card-options-btn-hover-color);
            }
        }
    }

    &-user {
        @include align-center;

        &__name:hover {
            color: var(--card-user-name-hover-color);
        }

        .bx {
            padding: 0.4rem;
        }
    }

    &-views {
        margin-right: 0.5rem;
    }

    :hover .card-options {
        opacity: 1;
    }
}
