.tags-container {
    position: fixed;
    top: $header-height;
    left: $sidebar-width;
    z-index: 900;

    width: 100% - $sidebar-width;
    height: $header-height;
    overflow: hidden;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    background-color: $grey-color;

    .next-btn,
    .prev-btn {
        position: absolute;
        z-index: 500;

        width: 4.5%;
        height: calc(100% - 5px);
        top: 50%;
        transform: translateY(-50%);
        background-color: $grey-color;

        .bx {
            font-size: 1.3rem;
        }
    }

    .prev-btn {
        box-shadow: 12px 0 15px 5px rgba($grey-color, 1);
    }

    .next-btn {
        right: 0;
        box-shadow: -12px 0 15px 5px rgba($grey-color, 1);
    }
}

.tags {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    height: inherit;
    padding: 0 1.5rem;
    align-items: center;
    list-style: none;

    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.05, 0, 0, 1);
    will-change: transition;

    // &::-webkit-scrollbar {
    //     display: none;
    // }
}

.tag {
    flex-shrink: 0;
    user-select: none;
}

.tag-link {
    display: block;
    margin: auto 0.6rem;
    line-height: 3rem;
    padding: 0 1.2rem;
    border-radius: 16px;
    font-size: 1.4rem;
    color: $text-color;
    border: 1px solid $tag-border-color;

    background-color: $tag-bgc;

    transition: 0.15s ease;

    &:hover {
        background-color: $tag-hover-bgc;
    }
}

.selected-tag {
    background-color: $selected-tag-bgc;
    color: black;

    &:hover {
        background-color: #909090;
    }
}
