* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    background-color: $bgc-color;
}

.bx {
    padding: 6px;
}